<div class="contact-card">
  <div class="contact-header">
    <span class="contact-name">{{ contactInfo().name }}</span>
    <p class="action-buttons">
      <button (click)="onEdit()">
        <span class="material-symbols-outlined"> edit </span>
      </button>
      <button (click)="onDelete()">
        <span class="material-symbols-outlined"> delete </span>
      </button>
    </p>
  </div>
  <div class="mt-1">{{ contactInfo().email }}</div>
  <div class="mt-1">{{ contactInfo().contact_no }}</div>
</div>
