

main {
  margin-top: 1rem;
}

.toggle-icons {
  display: flex;
  justify-content: end;
  gap: 1em;
  margin-top: 1rem;

  button {
    background-color: transparent;
    border: none;
  }

  .material-symbols-outlined {
    color: rgb(45, 41, 41);
    font-size: 2vw;
  }
}

.active {
  color: rgb(211, 207, 207) !important;
}

.contact-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 1%;
  text-align: left;
}

th {
  background-color: var(--primary-color);
  color: white;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;

  button {
    background-color: transparent;
    border: none;
  }

  .material-symbols-outlined {
    font-size: 1.2em;
  }
}

/* ORIGINALLY FROM HOME */
.container {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;

  button {
    background: var(--secondary-color);
    color: white;
    padding: 5% 0;
    width: 100%;
    justify-self: end;
    border-radius: 2em;
    border: none;
    font-weight: bolder;
  }
}

@media (max-width: 412px) {
  .container {
      grid-template-columns: 2fr 1fr;
  }

  button {
      width: 90%;
      /* font-size: 5pt !important; */
  }
}
