<main>
  <div class="toggle-icons">
    <button (click)="onSelectView('card')">
      <span class="material-symbols-outlined" [ngClass]="{'active': isCardView()}">grid_view</span>
    </button>
    <button (click)="onSelectView('table')">
      <span class="material-symbols-outlined" [ngClass]="{'active': !isCardView()}">table</span>
    </button>
  </div>
  <div class="contact-card-container" *ngIf="isCardView()">
    @for(cont of allContacts; track cont.id) {
        <app-contact-card [contactInfo]="cont"/>
    }
  </div>

  <div class="contact-table" *ngIf="!isCardView()">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact Number</th>
          <th>Email Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(cont of allContacts; track cont.id) {
          <tr>
            <td><u>{{cont.name}}</u></td>
            <td>{{cont.contact_no}}</td>
            <td>{{cont.email}}</td>
            <td>
              <span class="action-buttons">
                <button>
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button>
                  <span class="material-symbols-outlined"> delete </span>
                </button>
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  
  @if(openAddContact()) {
    <app-new-contact (close)="onCloseAddContact()"/>
  }
</main>
