<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <form [formGroup]="form" onsubmit="onSubmit()">
    <div class="vertical">
      <label for="name">Name</label>
      <input id="name" formControlName="name" />
      <span class="control-error" *ngIf="isInvalid('name')">{{getErrorMessage("name", "a name")}}</span>
    </div>

    <div class="vertical">
      <label for="contact_no">Contact Number</label>
      <input id="contact_no" type="number" formControlName="contact_no" (input)="onContactNoInput($event)"/>
      <span class="control-error" *ngIf="isInvalid('contact_no')">{{getErrorMessage("contact_no", "a contact number")}}</span>
    </div>

    <div class="vertical">
      <label for="email">Email Address</label>
      <input id="email" type="email" formControlName="email" />
      <span class="control-error" *ngIf="isInvalid('email')">{{getErrorMessage("email", "Email address")}}</span>
    </div>

    <div style="display: flex; justify-content: space-between;">
      <button (click)="onCancel()" class="cancel-button">Cancel</button>
      <button (click)="onAddContact()" class="save-button" *ngIf="action==='add'" [disabled]="form.invalid">Add Contact</button>
      <button (click)="onSaveChanges()" class="save-button" *ngIf="action==='edit'" [disabled]="form.invalid">Save Changes</button>
    </div>
  </form>
</dialog>
