.container {
    display: grid;
    grid-template-columns: 1.6fr .4fr;
    align-items: center;
    /* gap: 20px; */
}

button {
    background: var(--secondary-color);
    color: white;
    padding: 4% 0;
    width: 100%;
    justify-self: end;
    border-radius: 2em;
    border: none;
    font-weight: bolder;
    /* font-size: 10pt; */
}

@media (max-width: 412px) {
    .container {
        grid-template-columns: 2fr 1fr;
    }

    button {
        width: 90%;
        /* font-size: 5pt !important; */
    }
  }